@charset "UTF-8";

*{
	margin : 0px;
	padding : 0px;
}

.canvas-wrapper{
	position : relative;
}

.canvas-wrapper canvas{
	position : absolute;
	top : 0px;
	left : 0px;
}

.canvas-wrapper #header, .canvas-wrapper #menu{
	position : fixed;
	top : 0;
}

.canvas-wrapper #testButton1, .canvas-wrapper #testButton2{
	position : absolute;
}

#sorceCode{
	text-align : center;
}

#time{
	top : 400px;
	left : 400px;
}

body{
	background: linear-gradient(-90deg, #FFA3F0, #E3E9B9);
}
